footer#footer
	.container
		a.footer_logo-link(href="#")
			img.footer_logo-img(src="images/logo.png")
		.footer_soc
			a.footer_soc-item.footer_soc-tw(href="#")
				img.footer_soc-img(src="images/icons/twitter-logo-silhouette.svg")
			a.footer_soc-item.footer_soc-fb(href="#")
				img.footer_soc-img(src="images/icons/facebook-logo.svg")
			a.footer_soc-item.footer_soc-email(href="#") support@manybrain.com
	p.copyright-text Copyright 2016 Manybrain, Inc. All Right Reserved. Please take a few minutes to read our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>

