header#header
	.container
			a.header_logo(href="/")
					img.header_logo-img(src="images/logo.png")
			ul.header_menu-list
				li.header_menu-item
						a.hader_menu-link(href="#") Home
				li.header_menu-item
					a.hader_menu-link(href="#") Pricing
				li.header_menu-item
					a.hader_menu-link(href="#") FAQ
				li.header_menu-item
					a.hader_menu-link(href="#") API
				li.header_menu-item
					a.hader_menu-link(href="#") Email
				li.header_menu-item
					a.hader_menu-link(href="#") Settings
				li.header_menu-item
					a.hader_menu-link(href="#") Logout
			.heder_login-info
				p.header_login-email jonyyug@gmail.com
				p.header_login-status Free