html
    include jade/document_default/head.jade
    body
        include jade/svg.html
        include jade/parts/header.jade
        include jade/parts/left_bar.jade
        include jade/index.jade
        include jade/document_default/footer.jade
        include jade/parts/footer.jade